{% extends 'base.html' %}

{% block content %}
<div class='container'>

<form action = '' method = 'POST'enctype="multipart/form-data">
{% csrf_token %}
{{ form.as_p }}
{% comment %} <div>{{ form.title }}</div>
<div>{{ form.contents }}</div>
{{ form.priority }}
<div>{{ form.img }}</div>
<div>{{ form.duedate }}</div> {% endcomment %}
<input class="btn btn-outline-danger " type = 'submit' value = '再登録'>
{% comment %} <a href="{% url 'todo:list'  %}" class='btn btn-secondary btn-sm'>再登録</a> {% endcomment %}
<a href="{% url 'todo:list' %}" class="btn btn-outline-primary " tabindex="-1" role="button" aria-disabled="true">TOP</a>

</form>
{% endblock content %}
