{% extends 'base.html' %}

{% block header %}
<form action = '' method = 'POST'>{% csrf_token %}

<div class="alert alert-dark" role="alert">
    詳細画面
</div>
</form>
{% endblock %}

{% block content %}
<table class='table table-borderless'>
  <thead>
    <tr>
      <th scope='row'>予防接種名</th>
      <td>{{ object.title }}</td>
    </tr>
  </thead>
  <tbody class='table-group-divider'>
    <tr>
      <th scope='row'>詳細</th>
      <td>{{ object.contents | linebreaksbr }}</td>
    </tr>
    <tr>
      <th scope='row'>接種日</th>
      <td>{{ object.created_at }}</td>
    </tr>

  </tbody>
</table>
{% comment %} <div class="alert alert-success" role="alert"> {% endcomment %}
    {% if object.img %}
      <img src='{{ object.img.url }}' class='img-fluid'/>
    {% endif %}

{% comment %} </div> {% endcomment %}
<div><a href="{% url 'todo:vaccinationlist' %}" class="btn btn-outline-primary " tabindex="-1" role="button" aria-disabled="true">TOP</a></div>
{% endblock content %}
